
body {
	margin: 0;
	text-align: center;
}

.clickable {
	cursor: pointer;
}

.loading
{
	font: 5em normal serif;
	color: silver;
	margin: auto;
	margin-top: 10%;
}

.unselectable, .slider-bar, #graphbutton, #branchbutton {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#editor {
	text-align: left;
	font: 20px serif;
	background-image: none;
	width: 100%;
	height: 100%;
	padding: 10px 20% 100px 20%;
	border: none;
	outline: none;
	resize: none;
	border-radius: 5px;
}
.button {
	color: white;
	cursor: pointer;
	font: bold 14px sans-serif;
	line-height: 1.8em;
	background: blue;
	border-radius: 0.4em;
	padding: 0.1em 1em;
	margin: 0.2em;
	display: inline-block;
}
#logout {
	position: absolute;
	top: 10px;
	right: 10px;
}

#buttonbox {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 20%;
	text-align: center;
}
#register, #login {
	position: static;
	margin: 20px;
	display: inline-block;
}
#docbtn {
	margin: 100px;
	font-size: 2em;
}

#password, #username {
	border: 1px solid gray;
	box-shadow: 0 0 10px 2px silver;
	display: block;
	padding: 5px;
	border-radius: 4px;
	margin: 10px auto;
}
#username {
	margin-top: 10%;
}
canvas {
	position: fixed;
	left: 0;
	top: 0;
}
.hidden {
	display: none;
}
.locked {
	cursor: pointer;
	background: silver;
	text-align: center;
	font-size: 5em;
	margin-top: 10%;
}
.slider-bar {
	position: fixed;
	bottom: 10px;
	left: 20%;
	width: 60%;
	height: 4px;
	background: lightblue;
	cursor: pointer;
}
.slider-bar div {
	margin-left: -8px;
	cursor: pointer;
	position: relative;
	left: 0;
	top: -6px;
	height: 16px;
	width: 16px;
	border-radius: 100%;
	background: blue;
}

